<div class="wrapper d-flex flex-column justify-content-around">
  <h3 class="title">Characters</h3>
  <ul class="characters-list" *ngFor="let character of characters">
    <li>{{ character.name }}</li>
  </ul>
</div>
