<header class="header-container d-flex bg-dark">
  <nav class="d-flex justify-content-around align-items-center text-white">
    <a routerLink="/books">Books</a>
    <a routerLink="/movies">Movies</a>
    <a routerLink="/characters">Characters</a>
    <a routerLink="/quotes">Quotes</a>
    <a routerLink="/chapters">Chapters</a>
  </nav>
  <h3 class="title text-white m-auto">The Lord of the Rings</h3>
</header>
