<div class="wrapper d-flex flex-column justify-content-around">
  <h3 class="title">Quotes</h3>
  <ul class="quote-list" *ngFor="let quote of quotesList">
    <li>{{ quote.dialog }}</li>
  </ul>
</div>
