main
  overflow-y: hidden
  flex: auto
  margin: auto
  height: calc(100vh - 50px)
  width: 100vw
  object-fit: cover
  background-repeat: no-repeat
  background-size: cover
  background-image: url("../../../assets/images/main.jpg")
